/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2021, 9:00:11 AM
    Author     : chutr
*/
body
{
    font-family:sans-serif;
    background-color: #E7E7E7;
}
.contents{
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-y;
    width: 886px;
    height: auto;
    margin: 0 auto;
}
.mainerror
{
    width: 760px;
    margin: 0 auto;
    height: auto;
    display: flex;
}
.wrong
{
    width: 485px;
    padding: 20px;
    border-right: dotted 2px;
    border-color: #e0e0e0;    
}