/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2021, 2:53:24 PM
    Author     : chutr
*/
body
{
    font-family:sans-serif;
    background-color: #E7E7E7;
}
.container
{
    background-image: url(../images/bg.jpg) ;
    background-repeat: repeat-y;
    width: 886px;
    height: auto;
    margin: 0 auto;    
}
.content
{
    width: 760px;
    margin: 0 auto;
    height: auto;
    display: flex;
}
.main
{
    width: 485px;
    padding: 20px;
    border-right: dotted 2px;
    border-color: #e0e0e0;    
}
.tittle
{
    font-size: 18px;
    color: #42554e;
    font-weight: bold;
    padding-bottom: 15px;
}
.signature
{
    float:right;
    color: #42554e;
    font-size: 15px;
    margin-top: 5px;
}
.image img
{
    width: 400px;
    height: auto;
    padding-bottom: 20px;
}
.text{
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 20px;
}

.icon1{
    height: 10px;
    width: 10px;
    display: inline-block;
    background-image: url(../images/comment.gif);
}
.icon2{
    height: 10px;
    width: 10px;
    display: inline-block;
    background-image: url(../images/timeicon.gif);
}

